@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DPSP</h1>
    <p class="lead">DPSP is platform for sharing and managing projects for managers and clients of consulting company. It is Czech Technical University's bachelor's work by Daniel Sklar.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
