<div class="jumbotron">
    <h1>DPSP API</h1>
    <p class="lead">DPSP API is server side platform for sharing and managing projects for managers and clients of consulting company.  It is part of Czech Technical University's bachelor's work by Daniel Sklar.</p>
</div>