@model DPSP_UI_LG.Models.EmailViewModel
@{
    ViewBag.Title = "Confirmation message";
}

<h2>@ViewBag.Title.</h2>

<span>Thank you for your sharing. Now you can go back <a href="http://localhost:65075/">home</a></span>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
